*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Amita', cursive;
font-family: 'Cinzel', serif;
font-family: 'Merienda One', cursive;
font-family: 'Nanum Myeongjo', serif;
font-weight: bolder;
}

input[type="text"],
input[type="email"],
input[type="number"],textarea{
    width: 40%;
    color:black;
    padding: 5px;
    border-width: 1.5px;
    cursor: pointer;
    margin: 5px;

}
textarea:hover{
    background-color:aquamarine;
    margin: 5px;
}


.contact 
{
    display :flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(BG2.png);
    background-size:cover;
    background-position:center ;
    padding:50px;
    background-repeat: no-repeat;
    
    
}
.head{
    font-family: 'Amita', cursive;
font-family: 'Cinzel', serif;
font-family: 'Merienda One', cursive;
font-family: 'Nanum Myeongjo', serif;
font-weight: bolder;
}

.contactinfo{
    position: relative;
    width:calc(100% - 100px);
    min-height: calc(100vh - 280vh);
    min-height: 300px;
    background:rgba(255, 255,255, 0.5);
    box-shadow:0 15px 35px rgba(255, 255,255, 0.05);
    border-radius: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px ;
}
